.header {
    margin: 0 auto;
    padding: 20px 0;
    justify-content: space-between;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    min-width: 1200px;
    background-color: #fff;
    display: flex;
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.15);
}
.logoLink {
    color: $color-brand1-6 !important;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 20px;
}
.nav {
    display: flex;
}
.navItem {
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
}
.navItemLink {
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    color: $color-brand1-6 !important;
}
.activeNavItemLink {
    composes: navItemLink;
    border-bottom: 2px solid;
}
