@media screen and (min-width: 641px) {
    .send-email-form-left {
        width: 65.46%;
        float: left;
        .left {
            width: 47.25%;
            float: left;
        }
        .right {
            width: 47.25%;
            float: right;
        }
    }
    .send-email-form-right {
        width: 30.93%;
        float: right;
    }
}

.form-wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.form-input {
    background: #fff;
    border: 1px solid #979797;
    font-size: 15px;
    height: 40px;
    padding: 0 15px;
}

.full-width {
    width: 100%;
}

.form-textarea {
    background: #fff;
    border: 1px solid #979797;
    font-size: 15px;
    margin-top: 15px;
    width: 100%;
    padding: 8px 15px;
    height: 150px;
}
.form-submit {
    text-align: center;
}

.form-submit-btn {
    background: #3080fe;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    margin: 24px 0 36px;
    font-weight: 400;
    line-height: normal;
    height: auto;
    padding: 12px 40px;
    cursor: pointer;
}

.err-info {
    color: red;
}
