.main-wrapper {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.full-height {
    height: 100vh;
}

.display-flex {
    display: flex;
}

.menu-title {
    font-size: 20px;
    font-weight: 400;
}

.banner-content {
    margin: -100px auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-title {
    color: #ffffff;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 70px;
    z-index: 999;
    width: 550px;
}

.banner-desc {
    color: #ffffff;
    margin-bottom: 24px;
    font-size: 16px;
    z-index: 999;
    width: 450px;
}

.banner-link {
    border: 1px solid #fff;
    font-size: 14px;
    font-weight: 500;
    width: 124px;
    height: 40px;
    line-height: 40px;
    color: $color-brand1-6;
    border-radius: 18px;
    padding: 0 16px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    z-index: 999;
}

.banner-img-wrapper {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
}

.banner-img {
    height: 100%;
    width: 100%;
}

.img1 {
    background: url('./img/banner1.jpg') center / cover no-repeat;
}

.img2 {
    background: url('./img/banner2.png') center / cover no-repeat;
}

.img3 {
    background: url('./img/banner3.jpg') center / cover no-repeat;
}

.img4 {
    background: url('./img/banner4.jpg') center / cover no-repeat;
}

.pt100 {
    padding-top: 100px;
}

.page-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    &::before {
        bottom: -20px;
        content: "";
        height: 1px;
        position: absolute;
        width: 80px;
        height: 3px;
        background-color: $color-brand1-6;
        left: 50%;
        transform: translateX(-50%);
      }
}
