.main-wrapper {
    margin: 0 auto;
}

.minw-1200 {
    min-width: 1200px;
}

.w1200 {
    width: 1200px;
    min-width: 1200px;
}

.w1300 {
    width: 1300px;
}

.w960 {
    width: 960px;
}

.full-height {
    height: 100vh;
}

.display-flex {
    display: flex;
}

.menu-title {
    font-size: 20px;
    font-weight: 400;
}

.banner-content {
    margin: -100px auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-title {
    color: #ffffff;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 70px;
    z-index: 999;
    width: 550px;
}

.banner-desc {
    color: #ffffff;
    margin-bottom: 24px;
    font-size: 16px;
    z-index: 999;
    width: 450px;
}

.banner-link {
    padding: 8px;
    border: 1px solid #fff;
    font-size: 14px;
    width: 124px;
    height: 40px;
    line-height: 40px;
    color: $color-brand1-6;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    z-index: 999;
}

.banner-img-wrapper {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 1200px;
}

.banner-img {
    height: 100%;
    width: 100%;
}

.img1 {
    background: url('./img/banner1.jpg') center / cover no-repeat;
}

.img2 {
    background: url('./img/banner2.png') center / cover no-repeat;
}

.img3 {
    background: url('./img/banner3.jpg') center / cover no-repeat;
}

.img4 {
    background: url('./img/banner4.jpg') center / cover no-repeat;
}

.service-detail-slider {
    height: 400px;
    width: 640px;
    margin: 0 auto;
}

.project-detail-slider {
    height: 640px;
    width: 1200px;
    margin: 0 auto;
}

.service-detail-img {
    height: 100%;
    width: 100%;
}

.ms-1 {
    background: url('./img/ms-1.jpg') center / contain no-repeat;
}
.ms-2 {
    background: url('./img/ms-2.jpg') center / contain no-repeat;
}
.ms-3 {
    background: url('./img/ms-3.jpg') center / contain no-repeat;
}
.ms-4 {
    background: url('./img/ms-4.jpg') center / contain no-repeat;
}
.ms-5 {
    background: url('./img/ms-5.jpg') center / contain no-repeat;
}
.ms-6 {
    background: url('./img/ms-6.jpg') center / contain no-repeat;
}
.m-1 {
    background: url('./img/m-1.jpg') center / contain no-repeat;
}
.m-2 {
    background: url('./img/m-2.jpg') center / contain no-repeat;
}
.m-3 {
    background: url('./img/m-3.jpg') center / contain no-repeat;
}
.m-4 {
    background: url('./img/m-4.jpg') center / contain no-repeat;
}
.m-5 {
    background: url('./img/m-5.jpg') center / contain no-repeat;
}
.in-1 {
    background: url('./img/in-1.jpg') center / contain no-repeat;
}
.as-1 {
    background: url('./img/as-1.jpg') center / contain no-repeat;
}
.d-1 {
    background: url('./img/d-1.jpg') center / contain no-repeat;
}
.d-2 {
    background: url('./img/d-2.jpg') center / contain no-repeat;
}
.d-3 {
    background: url('./img/d-3.jpg') center / contain no-repeat;
}
.d-4 {
    background: url('./img/d-4.jpg') center / contain no-repeat;
}
.d-5 {
    background: url('./img/d-5.jpg') center / contain no-repeat;
}
.d-6 {
    background: url('./img/d-6.jpg') center / contain no-repeat;
}
.d-7 {
    background: url('./img/d-7.jpg') center / contain no-repeat;
}
.d-8 {
    background: url('./img/d-8.jpg') center / contain no-repeat;
}
.d-9 {
    background: url('./img/d-9.jpg') center / contain no-repeat;
}
.d-10 {
    background: url('./img/d-10.jpg') center / contain no-repeat;
}
.thumb-1 {
    background: url('./img/thumb/thumb-1.jpg') center / cover no-repeat;
}
.thumb-2 {
    background: url('./img/thumb/thumb-2.jpg') center / cover no-repeat;
}
.thumb-3 {
    background: url('./img/thumb/thumb-3.jpg') center / cover no-repeat;
}
.thumb-4 {
    background: url('./img/thumb/thumb-4.jpg') center / cover no-repeat;
}
.thumb-5 {
    background: url('./img/thumb/thumb-5.jpg') center / cover no-repeat;
}
.thumb-6 {
    background: url('./img/thumb/thumb-6.jpg') center / cover no-repeat;
}
.thumb-7 {
    background: url('./img/thumb/thumb-7.jpg') center / cover no-repeat;
}
.thumb-8 {
    background: url('./img/thumb/thumb-8.jpg') center / cover no-repeat;
}
.thumb-9 {
    background: url('./img/thumb/thumb-9.jpg') center / cover no-repeat;
}
.thumb-10 {
    background: url('./img/thumb/thumb-10.jpg') center / cover no-repeat;
}
.thumb-11 {
    background: url('./img/thumb/thumb-11.jpg') center / cover no-repeat;
}

.hf-1 {
    background: url('./img/Home/1.jpg') center / contain no-repeat;
}
.hf-2 {
    background: url('./img/Home/2.jpg') center / contain no-repeat;
}
.hf-3 {
    background: url('./img/Home/3.jpg') center / contain no-repeat;
}
.hf-4 {
    background: url('./img/Home/4.jpg') center / contain no-repeat;
}
.hf-5 {
    background: url('./img/Home/5.jpg') center / contain no-repeat;
}
.hf-7 {
    background: url('./img/Home/7.jpg') center / contain no-repeat;
}
.hf-11 {
    background: url('./img/Home/11.jpg') center / contain no-repeat;
}
.hf-13 {
    background: url('./img/Home/13.jpg') center / contain no-repeat;
}
.hf-14 {
    background: url('./img/Home/14.jpg') center / contain no-repeat;
}
.gf-1 {
    background: url('./img/Garden/1.jpg') center / contain no-repeat;
}
.gf-3 {
    background: url('./img/Garden/3.jpg') center / contain no-repeat;
}
.gf-5 {
    background: url('./img/Garden/5.jpg') center / contain no-repeat;
}
.gf-6 {
    background: url('./img/Garden/6.jpg') center / contain no-repeat;
}
.gf-8 {
    background: url('./img/Garden/8.jpg') center / contain no-repeat;
}
.gf-9 {
    background: url('./img/Garden/9.jpg') center / contain no-repeat;
}
.gf-11 {
    background: url('./img/Garden/11.jpg') center / contain no-repeat;
}
.gf-12 {
    background: url('./img/Garden/12.jpg') center / contain no-repeat;
}
.gf-13 {
    background: url('./img/Garden/13.jpg') center / contain no-repeat;
}
.gf-15 {
    background: url('./img/Garden/15.jpg') center / contain no-repeat;
}
.gf-16 {
    background: url('./img/Garden/1.jpg') center / contain no-repeat;
}
.wf-1 {
    background: url('./img/WaterF/1.jpg') center / contain no-repeat;
}
.wf-2 {
    background: url('./img/WaterF/2.jpg') center / contain no-repeat;
}
.wf-3 {
    background: url('./img/WaterF/3.jpg') center / contain no-repeat;
}
.wf-4 {
    background: url('./img/WaterF/4.jpg') center / contain no-repeat;
}
.wf-5 {
    background: url('./img/WaterF/5.jpg') center / contain no-repeat;
}
.wf-7 {
    background: url('./img/WaterF/7.jpg') center / contain no-repeat;
}
.wf-8 {
    background: url('./img/WaterF/8.jpg') center / contain no-repeat;
}
.wf-9 {
    background: url('./img/WaterF/9.jpg') center / contain no-repeat;
}
.wf-10 {
    background: url('./img/WaterF/10.jpg') center / contain no-repeat;
}
.wf-12 {
    background: url('./img/WaterF/12.jpg') center / contain no-repeat;
}
.wf-16 {
    background: url('./img/WaterF/16.jpg') center / contain no-repeat;
}
.wf-14 {
    background: url('./img/WaterF/14.jpg') center / contain no-repeat;
}
.wf-15 {
    background: url('./img/WaterF/15.jpg') center / contain no-repeat;
}
.wc-1 {
    background: url('./img/WaterC/1.jpg') center / contain no-repeat;
}
.wc-3 {
    background: url('./img/WaterC/3.jpg') center / contain no-repeat;
}
.wc-2 {
    background: url('./img/WaterC/2.jpg') center / contain no-repeat;
}
.wc-4 {
    background: url('./img/WaterC/4.jpg') center / contain no-repeat;
}
.wc-5 {
    background: url('./img/WaterC/5.jpg') center / contain no-repeat;
}
.wc-6 {
    background: url('./img/WaterC/6.jpg') center / contain no-repeat;
}
.wc-7 {
    background: url('./img/WaterC/7.jpg') center / contain no-repeat;
}
.wc-8 {
    background: url('./img/WaterC/8.jpg') center / contain no-repeat;
}
.wc-9 {
    background: url('./img/WaterC/9.jpg') center / contain no-repeat;
}
.wc-10 {
    background: url('./img/WaterC/10.jpg') center / contain no-repeat;
}
.wc-11 {
    background: url('./img/WaterC/11.jpg') center / contain no-repeat;
}
.wc-12 {
    background: url('./img/WaterC/12.jpg') center / contain no-repeat;
}

.ws-1 {
    background: url('./img/WaterS/1.jpg') center / contain no-repeat;
}
.ws-2 {
    background: url('./img/WaterS/2.jpg') center / contain no-repeat;
}
.ws-3 {
    background: url('./img/WaterS/3.jpg') center / contain no-repeat;
}
.ws-4 {
    background: url('./img/WaterS/4.jpg') center / contain no-repeat;
}
.ws-5 {
    background: url('./img/WaterS/5.jpg') center / contain no-repeat;
}
.ws-6 {
    background: url('./img/WaterS/6.jpg') center / contain no-repeat;
}
.ws-7 {
    background: url('./img/WaterS/7.jpg') center / contain no-repeat;
}
.ws-8 {
    background: url('./img/WaterS/8.jpg') center / contain no-repeat;
}
.ws-9 {
    background: url('./img/WaterS/9.jpg') center / contain no-repeat;
}
.mf-1 {
    background: url('./img/MusicF/1.jpg') center / contain no-repeat;
}
.mf-2 {
    background: url('./img/MusicF/2.jpg') center / contain no-repeat;
}
.mf-3 {
    background: url('./img/MusicF/3.jpg') center / contain no-repeat;
}
.mf-4 {
    background: url('./img/MusicF/4.jpg') center / contain no-repeat;
}
.mf-5 {
    background: url('./img/MusicF/5.jpg') center / contain no-repeat;
}
.mf-6 {
    background: url('./img/MusicF/6.jpg') center / contain no-repeat;
}
.mf-7 {
    background: url('./img/MusicF/7.jpg') center / contain no-repeat;
}
.mf-8 {
    background: url('./img/MusicF/8.jpg') center / contain no-repeat;
}
.mf-9 {
    background: url('./img/MusicF/9.jpg') center / contain no-repeat;
}
.mf-10 {
    background: url('./img/MusicF/10.jpg') center / contain no-repeat;
}
.mf-11 {
    background: url('./img/MusicF/11.jpg') center / contain no-repeat;
}

.pj1-1 {
    background: url('./img/pj-1/1.jpg') center / contain no-repeat;
}
.pj1-2 {
    background: url('./img/pj-1/2.jpg') center / contain no-repeat;
}
.pj1-3 {
    background: url('./img/pj-1/3.jpg') center / contain no-repeat;
}
.pj1-4 {
    background: url('./img/pj-1/4.jpg') center / contain no-repeat;
}
.pj1-5 {
    background: url('./img/pj-1/5.jpg') center / contain no-repeat;
}
.pj1-6 {
    background: url('./img/pj-1/6.jpg') center / contain no-repeat;
}
.pj1-7 {
    background: url('./img/pj-1/7.jpg') center / contain no-repeat;
}
.pj2-1 {
    background: url('./img/pj-2/1.jpg') center / contain no-repeat;
}
.pj2-2 {
    background: url('./img/pj-2/2.jpg') center / contain no-repeat;
}
.pj2-3 {
    background: url('./img/pj-2/3.jpg') center / contain no-repeat;
}
.pj2-4 {
    background: url('./img/pj-2/4.jpg') center / contain no-repeat;
}
.pj2-5 {
    background: url('./img/pj-2/5.jpg') center / contain no-repeat;
}
.pj2-6 {
    background: url('./img/pj-2/6.jpg') center / contain no-repeat;
}
.pj3-1 {
    background: url('./img/pj-3/1.jpg') center / contain no-repeat;
}
.pj3-2 {
    background: url('./img/pj-3/2.jpg') center / contain no-repeat;
}
.pj3-3 {
    background: url('./img/pj-3/3.jpg') center / contain no-repeat;
}
.pj3-4 {
    background: url('./img/pj-3/4.jpg') center / contain no-repeat;
}
.pj3-5 {
    background: url('./img/pj-3/5.jpg') center / contain no-repeat;
}
.pj3-6 {
    background: url('./img/pj-3/6.jpg') center / contain no-repeat;
}
.pj4-1 {
    background: url('./img/pj-4/1.jpg') center / contain no-repeat;
}
.pj4-2 {
    background: url('./img/pj-4/2.jpg') center / contain no-repeat;
}
.pj4-3 {
    background: url('./img/pj-4/3.jpg') center / contain no-repeat;
}
.pj4-4 {
    background: url('./img/pj-4/4.jpg') center / contain no-repeat;
}
.pj4-5 {
    background: url('./img/pj-4/5.jpg') center / contain no-repeat;
}
.pj5-1 {
    background: url('./img/pj-5/1.jpg') center / contain no-repeat;
}
.pj5-2 {
    background: url('./img/pj-5/2.jpg') center / contain no-repeat;
}
.pj5-3 {
    background: url('./img/pj-5/3.jpg') center / contain no-repeat;
}
.pj5-4 {
    background: url('./img/pj-5/4.jpg') center / contain no-repeat;
}
.pj5-5 {
    background: url('./img/pj-5/5.jpg') center / contain no-repeat;
}
.pj5-6 {
    background: url('./img/pj-5/6.jpg') center / contain no-repeat;
}
.pj5-7 {
    background: url('./img/pj-5/7.jpg') center / contain no-repeat;
}
.pj6-1 {
    background: url('./img/pj-6/1.jpg') center / contain no-repeat;
}
.pj6-2 {
    background: url('./img/pj-6/2.jpg') center / contain no-repeat;
}
.pj6-3 {
    background: url('./img/pj-6/3.jpg') center / contain no-repeat;
}
.pj6-4 {
    background: url('./img/pj-6/4.jpg') center / contain no-repeat;
}
.pj6-5 {
    background: url('./img/pj-6/5.jpg') center / contain no-repeat;
}
.pj7-1 {
    background: url('./img/pj-7/1.jpg') center / contain no-repeat;
}
.pj7-2 {
    background: url('./img/pj-7/2.jpg') center / contain no-repeat;
}
.pj7-3 {
    background: url('./img/pj-7/3.jpg') center / contain no-repeat;
}
.pj7-4 {
    background: url('./img/pj-7/4.jpg') center / contain no-repeat;
}
.pj8-1 {
    background: url('./img/pj-8/1.jpg') center / contain no-repeat;
}
.pj8-2 {
    background: url('./img/pj-8/2.jpg') center / contain no-repeat;
}
.pj8-3 {
    background: url('./img/pj-8/3.jpg') center / contain no-repeat;
}
.pj8-4 {
    background: url('./img/pj-8/4.jpg') center / contain no-repeat;
}
.pj8-5 {
    background: url('./img/pj-8/5.jpg') center / contain no-repeat;
}

.pj9-1 {
    background: url('./img/pj-9/1.jpg') center / contain no-repeat;
}
.pj9-2 {
    background: url('./img/pj-9/2.jpg') center / contain no-repeat;
}
.pj9-3 {
    background: url('./img/pj-9/3.jpg') center / contain no-repeat;
}
.pj9-4 {
    background: url('./img/pj-9/4.jpg') center / contain no-repeat;
}
.pj9-5 {
    background: url('./img/pj-9/5.jpg') center / contain no-repeat;
}
.pj9-6 {
    background: url('./img/pj-9/6.jpg') center / contain no-repeat;
}
.pj9-7 {
    background: url('./img/pj-9/7.jpg') center / contain no-repeat;
}
.pj9-8 {
    background: url('./img/pj-9/8.jpg') center / contain no-repeat;
}

.pj10-1 {
    background: url('./img/pj-10/1.jpg') center / contain no-repeat;
}
.pj10-2 {
    background: url('./img/pj-10/2.jpg') center / contain no-repeat;
}
.pj10-3 {
    background: url('./img/pj-10/3.jpg') center / contain no-repeat;
}
.pj10-4 {
    background: url('./img/pj-10/4.jpg') center / contain no-repeat;
}
.pj10-5 {
    background: url('./img/pj-10/5.jpg') center / contain no-repeat;
}
.pj10-6 {
    background: url('./img/pj-10/6.jpg') center / contain no-repeat;
}
.pj10-7 {
    background: url('./img/pj-10/7.jpg') center / contain no-repeat;
}
.pj10-8 {
    background: url('./img/pj-10/8.jpg') center / contain no-repeat;
}
.pj10-9 {
    background: url('./img/pj-10/9.jpg') center / contain no-repeat;
}
.pj10-10 {
    background: url('./img/pj-10/10.jpg') center / contain no-repeat;
}

.pj11-1 {
    background: url('./img/pj-11/1.jpg') center / contain no-repeat;
}
.pj11-2 {
    background: url('./img/pj-11/2.jpg') center / contain no-repeat;
}
.pj11-3 {
    background: url('./img/pj-11/3.jpg') center / contain no-repeat;
}
.pj11-4 {
    background: url('./img/pj-11/4.jpg') center / contain no-repeat;
}
.pj11-5 {
    background: url('./img/pj-11/5.jpg') center / contain no-repeat;
}
.pj11-6 {
    background: url('./img/pj-11/6.jpg') center / contain no-repeat;
}
.pj11-7 {
    background: url('./img/pj-11/7.jpg') center / contain no-repeat;
}
.pj11-8 {
    background: url('./img/pj-11/8.jpg') center / contain no-repeat;
}
.pj11-9 {
    background: url('./img/pj-11/9.jpg') center / contain no-repeat;
}
.pj11-10 {
    background: url('./img/pj-11/10.jpg') center / contain no-repeat;
}
.pj11-11 {
    background: url('./img/pj-11/11.jpg') center / contain no-repeat;
}
.pj11-12 {
    background: url('./img/pj-11/12.jpg') center / contain no-repeat;
}
.pt100 {
    padding-top: 100px;
}

.p16 {
    padding: 16px;
}

.ft16 {
    font-size: 16px !important;
}

.ft14 {
    font-size: 14px !important;
}

.pagination {
    text-align: center;
}

.page-dot {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #ddd;
    margin: 16px 10px 0;
    &.active {
        background: $color-brand1-6;
    }
}

.page-title {
    font-size: 30px;
    color: $color-brand1-6;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    cursor: pointer;
    &::before {
        bottom: -20px;
        content: '';
        position: absolute;
        width: 80px;
        height: 3px;
        background-color: $color-brand1-6;
        left: 50%;
        transform: translateX(-50%);
    }
}

.page-title-with-txt {
    font-size: 30px;
    color: $color-brand1-6;
    font-weight: 700;
    text-align: center;
    position: relative;
}

.title-txt {
    color: #999;
}

.fw-6 {
    font-weight: 600;
}

.tc {
    text-align: center;
}

.description {
    font-size: 13px;
    line-height: 22px;
    color: #999;
}

.service-detail-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

.tab-wrapper {
    margin: 0 auto;
    width: 1200px;
    min-height: 700px;
}

@mixin full-width {
    position: absolute;
    left: 0;
    right: 0;
    min-width: 1200px;
}

.foot-wrapper {
    padding: 50px;
    background: #171717;
    color: #fff;
    min-width: 1200px;
}

.footer-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    position: relative;
    &::before {
        bottom: -10px;
        content: '';
        height: 2px;
        position: absolute;
        width: 80px;
        background-color: $color-brand1-6;
        left: 0;
    }
}

.footer-desc {
    margin-left: 20px;
    display: inline;
    color: $color-brand1-6;
}

.footer-nav {
    color: #7f7f7f;
    cursor: pointer;
}
.footer-nav :hover {
    color: $color-brand1-6;
}

.light-bg {
    background: #f6f7f9;
}

.contact-bg {
    height: 424px;
    padding: 80px;
    background: url('./img/contact-bg.jpg') center / cover no-repeat;
}

.contact-txt {
    color: #fff;
}

.para-wrapper {
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

.project-head {
    height: 220px;
    padding-top: 100px;
    text-align: center;
}

.project-title {
    font-size: 36px;
    font-weight: 500;
}

.icon {
    color: $color-brand1-6;
    margin-right: 8px;
}

.mt16 {
    margin-top: 16px;
}

.dib {
    display: inline-block;
}

.custom-tab-item {
    width: 200px;
    padding: 10px;
}

.slider-wrapper {
    position: relative;
}

@mixin slider-icon {
    width: 50px;
    height: 50px;
    z-index: 10000;
    top: 50%;
    margin-top: -25px;
    position: absolute;
    border-radius: 25px;
    cursor: pointer;
}

@mixin icon-after($border-1, $border-2, $clr) {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -16px;
    width: 40px;
    height: 40px;
    border: 3px solid transparent;
    transform: rotate(45deg);
    #{$border-1}:  3px solid $clr;
    #{$border-2}:  3px solid $clr;
}

.next-icon {
    @include slider-icon;
    right: 10px;
    &::after {
        @include icon-after(border-top, border-right, #3080fe);
    }
}

.pre-icon {
    @include slider-icon;
    left: 10px;
    &::after {
        left: 10px;
        @include icon-after(border-bottom, border-left, #3080fe);
    }
}

// mobile style
@media (max-width: 700px) {
    .banner-content {
        margin: 0;
    }
}
