.main-wrapper {
    margin: 0 auto;
}

.w1200 {
    width: 1200px;
    min-width: 1200px;
}

.full-height {
    height: 100vh;
}

.display-flex {
    display: flex;
}

.menu-title {
    font-size: 20px;
    font-weight: 400;
}

.banner-content {
    margin: -100px auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-title {
    color: #ffffff;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 70px;
    z-index: 999;
    width: 550px;
}

.banner-desc {
    color: #ffffff;
    margin-bottom: 24px;
    font-size: 16px;
    z-index: 999;
    width: 450px;
}

.banner-link {
    padding: 8px;
    border: 1px solid #fff;
    font-size: 14px;
    width: 124px;
    height: 40px;
    line-height: 40px;
    color: $color-brand1-6;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    z-index: 999;
}

.banner-img-wrapper {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 1200px;
}

.banner-img {
    height: 100%;
    width: 100%;
}

.img1 {
    background: url('./img/banner1.jpg') center / cover no-repeat;
}

.img2 {
    background: url('./img/banner2.png') center / cover no-repeat;
}

.img3 {
    background: url('./img/banner3.jpg') center / cover no-repeat;
}

.img4 {
    background: url('./img/banner4.jpg') center / cover no-repeat;
}

.service-detail-slider {
    height: 400px;
    width: 640px;
    margin: 0 auto;
}

.service-detail-img {
    height: 100%;
    width: 100%;
}

.ms-1 {
    background: url('./img/ms-1.jpg') center / contain no-repeat;
}
.ms-2 {
    background: url('./img/ms-2.jpg') center / contain no-repeat;
}
.ms-3 {
    background: url('./img/ms-3.jpg') center / contain no-repeat;
}
.ms-4 {
    background: url('./img/ms-4.jpg') center / contain no-repeat;
}
.ms-5 {
    background: url('./img/ms-5.jpg') center / contain no-repeat;
}
.ms-6 {
    background: url('./img/ms-6.jpg') center / contain no-repeat;
}
.m-1 {
    background: url('./img/m-1.jpg') center / contain no-repeat;
}
.m-2 {
    background: url('./img/m-2.jpg') center / contain no-repeat;
}
.m-3 {
    background: url('./img/m-3.jpg') center / contain no-repeat;
}
.m-4 {
    background: url('./img/m-4.jpg') center / contain no-repeat;
}
.m-5 {
    background: url('./img/m-5.jpg') center / contain no-repeat;
}
.in-1 {
    background: url('./img/in-1.jpg') center / contain no-repeat;
}
.as-1 {
    background: url('./img/as-1.jpg') center / contain no-repeat;
}
.d-1 {
    background: url('./img/d-1.jpg') center / contain no-repeat;
}
.d-2 {
    background: url('./img/d-2.jpg') center / contain no-repeat;
}
.d-3 {
    background: url('./img/d-3.jpg') center / contain no-repeat;
}
.d-4 {
    background: url('./img/d-4.jpg') center / contain no-repeat;
}
.d-5 {
    background: url('./img/d-5.jpg') center / contain no-repeat;
}
.d-6 {
    background: url('./img/d-6.jpg') center / contain no-repeat;
}
.d-7 {
    background: url('./img/d-7.jpg') center / contain no-repeat;
}
.d-8 {
    background: url('./img/d-8.jpg') center / contain no-repeat;
}
.d-9 {
    background: url('./img/d-9.jpg') center / contain no-repeat;
}
.d-10 {
    background: url('./img/d-10.jpg') center / contain no-repeat;
}
.thumb-1 {
    background: url('./img/thumb-1.jpg') center / cover no-repeat;
}
.thumb-2 {
    background: url('./img/thumb-2.jpg') center / cover no-repeat;
}
.thumb-3 {
    background: url('./img/thumb-3.jpg') center / cover no-repeat;
}
.thumb-4 {
    background: url('./img/thumb-4.jpg') center / cover no-repeat;
}
.thumb-5 {
    background: url('./img/thumb-5.jpg') center / cover no-repeat;
}
.thumb-6 {
    background: url('./img/thumb-6.jpg') center / cover no-repeat;
}
.hf-1 {
    background: url('./img/Home/1.jpg') center / contain no-repeat;
}
.hf-2 {
    background: url('./img/Home/2.jpg') center / contain no-repeat;
}
.hf-3 {
    background: url('./img/Home/3.jpg') center / contain no-repeat;
}
.hf-4 {
    background: url('./img/Home/4.jpg') center / contain no-repeat;
}
.hf-5 {
    background: url('./img/Home/5.jpg') center / contain no-repeat;
}
.hf-7 {
    background: url('./img/Home/7.jpg') center / contain no-repeat;
}
.hf-11 {
    background: url('./img/Home/11.jpg') center / contain no-repeat;
}
.hf-13 {
    background: url('./img/Home/13.jpg') center / contain no-repeat;
}
.hf-14 {
    background: url('./img/Home/14.jpg') center / contain no-repeat;
}
.gf-1 {
    background: url('./img/Garden/1.jpg') center / contain no-repeat;
}
.gf-3 {
    background: url('./img/Garden/3.jpg') center / contain no-repeat;
}
.gf-5 {
    background: url('./img/Garden/5.jpg') center / contain no-repeat;
}
.gf-6 {
    background: url('./img/Garden/6.jpg') center / contain no-repeat;
}
.gf-8 {
    background: url('./img/Garden/8.jpg') center / contain no-repeat;
}
.gf-9 {
    background: url('./img/Garden/9.jpg') center / contain no-repeat;
}
.gf-11 {
    background: url('./img/Garden/11.jpg') center / contain no-repeat;
}
.gf-12 {
    background: url('./img/Garden/12.jpg') center / contain no-repeat;
}
.gf-13 {
    background: url('./img/Garden/13.jpg') center / contain no-repeat;
}
.gf-15 {
    background: url('./img/Garden/15.jpg') center / contain no-repeat;
}
.gf-16 {
    background: url('./img/Garden/1.jpg') center / contain no-repeat;
}
.wf-1 {
    background: url('./img/WaterF/1.jpg') center / contain no-repeat;
}
.wf-2 {
    background: url('./img/WaterF/2.jpg') center / contain no-repeat;
}
.wf-3 {
    background: url('./img/WaterF/3.jpg') center / contain no-repeat;
}
.wf-4 {
    background: url('./img/WaterF/4.jpg') center / contain no-repeat;
}
.wf-5 {
    background: url('./img/WaterF/5.jpg') center / contain no-repeat;
}
.wf-7 {
    background: url('./img/WaterF/7.jpg') center / contain no-repeat;
}
.wf-8 {
    background: url('./img/WaterF/8.jpg') center / contain no-repeat;
}
.wf-9 {
    background: url('./img/WaterF/9.jpg') center / contain no-repeat;
}
.wf-10 {
    background: url('./img/WaterF/10.jpg') center / contain no-repeat;
}
.wf-12 {
    background: url('./img/WaterF/12.jpg') center / contain no-repeat;
}
.wf-16 {
    background: url('./img/WaterF/16.jpg') center / contain no-repeat;
}
.wf-14 {
    background: url('./img/WaterF/14.jpg') center / contain no-repeat;
}
.wf-15 {
    background: url('./img/WaterF/15.jpg') center / contain no-repeat;
}
.wc-1 {
    background: url('./img/WaterC/1.jpg') center / contain no-repeat;
}
.wc-3 {
    background: url('./img/WaterC/3.jpg') center / contain no-repeat;
}
.wc-2 {
    background: url('./img/WaterC/2.jpg') center / contain no-repeat;
}
.wc-4 {
    background: url('./img/WaterC/4.jpg') center / contain no-repeat;
}
.wc-5 {
    background: url('./img/WaterC/5.jpg') center / contain no-repeat;
}
.wc-6 {
    background: url('./img/WaterC/6.jpg') center / contain no-repeat;
}
.wc-7 {
    background: url('./img/WaterC/7.jpg') center / contain no-repeat;
}
.wc-8{
    background: url('./img/WaterC/8.jpg') center / contain no-repeat;
}
.wc-9 {
    background: url('./img/WaterC/9.jpg') center / contain no-repeat;
}
.wc-10 {
    background: url('./img/WaterC/10.jpg') center / contain no-repeat;
}
.wc-11 {
    background: url('./img/WaterC/11.jpg') center / contain no-repeat;
}
.wc-12 {
    background: url('./img/WaterC/12.jpg') center / contain no-repeat;
}

.ws-1 {
    background: url('./img/WaterS/1.jpg') center / contain no-repeat;
}
.ws-2 {
    background: url('./img/WaterS/2.jpg') center / contain no-repeat;
}
.ws-3 {
    background: url('./img/WaterS/3.jpg') center / contain no-repeat;
}
.ws-4 {
    background: url('./img/WaterS/4.jpg') center / contain no-repeat;
}
.ws-5 {
    background: url('./img/WaterS/5.jpg') center / contain no-repeat;
}
.ws-6 {
    background: url('./img/WaterS/6.jpg') center / contain no-repeat;
}
.ws-7 {
    background: url('./img/WaterS/7.jpg') center / contain no-repeat;
}
.ws-8 {
    background: url('./img/WaterS/8.jpg') center / contain no-repeat;
}
.ws-9 {
    background: url('./img/WaterS/9.jpg') center / contain no-repeat;
}
.mf-1 {
    background: url('./img/MusicF/1.jpg') center / contain no-repeat;
}
.mf-2 {
    background: url('./img/MusicF/2.jpg') center / contain no-repeat;
}
.mf-3 {
    background: url('./img/MusicF/3.jpg') center / contain no-repeat;
}
.mf-4 {
    background: url('./img/MusicF/4.jpg') center / contain no-repeat;
}
.mf-5 {
    background: url('./img/MusicF/5.jpg') center / contain no-repeat;
}
.mf-6 {
    background: url('./img/MusicF/6.jpg') center / contain no-repeat;
}
.mf-7 {
    background: url('./img/MusicF/7.jpg') center / contain no-repeat;
}
.mf-8 {
    background: url('./img/MusicF/8.jpg') center / contain no-repeat;
}
.mf-9 {
    background: url('./img/MusicF/9.jpg') center / contain no-repeat;
}
.mf-10 {
    background: url('./img/MusicF/10.jpg') center / contain no-repeat;
}
.mf-11 {
    background: url('./img/MusicF/11.jpg') center / contain no-repeat;
}

.pt100 {
    padding-top: 100px;
}

.p16 {
    padding: 16px;
}

.ft16 {
    font-size: 16px !important;
}

.pagination {
    text-align: center;
}

.page-dot {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #ddd;
    margin: 16px 10px 0;
    &.active {
        background: $color-brand1-6;
    }
}

.page-title {
    font-size: 30px;
    color: $color-brand1-6;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    cursor: pointer;
    &::before {
        bottom: -20px;
        content: '';
        height: 1px;
        position: absolute;
        width: 80px;
        height: 3px;
        background-color: $color-brand1-6;
        left: 50%;
        transform: translateX(-50%);
    }
}

.page-title-with-txt {
    font-size: 30px;
    color: $color-brand1-6;
    font-weight: 700;
    text-align: center;
    position: relative;
}

.title-txt {
    color: #999;
}

.fw-6 {
    font-weight: 600;
}

.tc {
    text-align: center;
}

.description {
    font-size: 13px;
    line-height: 22px;
    color: #999;
}

.service-detail-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

.tab-wrapper {
    margin: 0 auto;
    width: 900px;
}

@mixin full-width {
    position: absolute;
    left: 0;
    right: 0;
    min-width: 1200px;
}

.foot-wrapper {
    padding: 50px;
    background: #475268;
    color: #fff;
}

.light-bg {
    background: #F6F7F9;    
}

.contact-bg {
    height: 424px;
    padding: 80px;
    background: url('./img/contact-bg.jpg') center / cover no-repeat;
}

.contact-txt {
    color: #fff;
}

.para-wrapper {
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

// mobile style
@media (max-width: 700px) {
    .banner-content {
        margin: 0;
    }
}
